In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("./data.csv", encoding='utf-8')
data.head()

,Nepali,English
0,“मानौ एउटी स्त्रीसँग दशवटा चाँदीका सिक्काहरू छ...,"Or what woman, if she had ten drachma coins, i..."
1,ती दुष्ट मानिसहरू हिंस्रक सिंहहरू जस्तै अन्य प...,"He is like a lion that is greedy of his prey, ..."
2,प्रक्रिया दृश्य क्रम स्तम्भ,Process view sort column
3,जहा ट्याबहरु देखाइन सकिन्थ्यो वा सकिन्नथ्यो,Whether tooltips should be shown on widgets
4,अनुष्ठान अनुसार जहां केटि र महिलाहरु पूजाहार...,Ritual servitude where girls and women are ple...

# Removing Columns with NaN values

In [4]:
pd.isnull(data).values.any()

True

In [6]:
pd.isnull(data).sum()

Nepali     17
English     9
dtype: int64

In [7]:
data.isna().any()

Nepali     True
English    True
dtype: bool

In [10]:
np_nan = pd.isnull(data["Nepali"])
data[np_nan]

       Nepali                                            English
3017      NaN                                                NaN
24275     NaN  It is necessary to recognize that the farmers ...
24800     NaN                                                NaN
29455     NaN  While the number of lower secondary schools wa...
30774     NaN                                                NaN
37756     NaN                                          D. level.
38730     NaN                                    4. Mule tracks:
51280     NaN                                                NaN
55781     NaN                                                 B.
58450     NaN  Radio Broadcasting , Television Transmission a...
60377     NaN                                                NaN
71081     NaN  Cement: It is estimated that in order to under...
74068     NaN                                                NaN
102841    NaN  Out of the total loan and investment disbursem...
113614    NaN                                                NaN
128349    NaN                                                NaN
147414    NaN  The increase in the internal dema nd for agric...

In [11]:
en_nan = pd.isnull(data["English"])
data[en_nan]

                   Nepali English
3017                  NaN     NaN
24800                 NaN     NaN
30621   खर्चको व्यवस्था :     NaN
30774                 NaN     NaN
51280                 NaN     NaN
60377                 NaN     NaN
74068                 NaN     NaN
113614                NaN     NaN
128349                NaN     NaN

In [14]:
data = data.dropna()
data.shape

(160241, 2)

In [15]:
data.isna().any()

Nepali     False
English    False
dtype: bool

In [16]:
pd.isnull(data).sum()

Nepali     0
English    0
dtype: int64